common --enable_bzlmod
common --color=yes
common --curses=yes

build --announce_rc
build --features=swift.debug_prefix_map
build --verbose_failures

test --test_output=errors

build:ios_sim --ios_multi_cpus=sim_arm64
build:ios_device --ios_multi_cpus=arm64
