<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>destination</key>
	<string>upload</string>
	<key>teamID</key>
	<string>ANBBV7LQ2P</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.eviljuliette.clipkitty</key>
		<string>ClipKitty iOS AppStore</string>
		<key>com.eviljuliette.clipkitty.share</key>
		<string>ClipKitty Share AppStore</string>
	</dict>
</dict>
</plist>
