<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>ClipKitty</string>
  <key>CKBuildChannel</key>
  <string>Sparkle</string>
  <key>SUAutomaticallyUpdate</key>
  <true/>
  <key>SUEnableAutomaticChecks</key>
  <true/>
  <key>SUEnableInstallerLauncherService</key>
  <true/>
  <key>SUFeedURL</key>
  <string>https://jul-sh.github.io/clipkitty/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>9VqfSPPY2Gr8QTYDLa99yJXAFWnHw5aybSbKaYDyCq0=</string>
</dict>
</plist>
